.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: rgb(152, 183, 240);

  height: 50px;
  align-items: center;
}

.searchbar {
  max-width: max-content;
}

.searchbar-input {
  width: 30em;
}