@media screen and (min-width: 720px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    background-color: rgb(152, 183, 240);
  
    height: 50px;
    align-items: center;
  }

  .searchbar {
    max-width: max-content;
  }
  
  .searchbar-input {
    width: 30em;
  }
}

@media screen and (min-width: 350px) and (max-width: 720px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    background-color: rgb(152, 183, 240);
  
    height: 100px;
    align-items: center;
  }

  .searchbar {
    max-width: max-content;
  }
  
  .searchbar-input {
    width: 20em;
  }
}

@media screen and (max-width: 350px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    background-color: rgb(152, 183, 240);
  
    height: 100px;
    align-items: center;
  }

  .searchbar {
    max-width: max-content;
  }
  
  .searchbar-input {
    width: 14em;
  }
}



